@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes centerToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes centerToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes arrows-alt {
  0% {
    transform: scale(1.5) translate(0, 0);
  }
  20% {
    transform: scale(1.5) translate(-5px, 5px);
  }
  40% {
    transform: scale(1.5) translate(-5px, -5px);
  }
  60% {
    transform: scale(1.5) translate(5px, 5px);
  }
  80% {
    transform: scale(1.5) translate(5px, -5px);
  }
  100% {
    transform: scale(1.5) translate(0, 0);
  }
}

/* @keyframes popFromCenterToScale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
} */

@keyframes wiggleX {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translate(20%);
    opacity: 1;
  }
  100% {
    transform: translate(0%);
    opacity: 1;
  }
}
