@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes centerToRight {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes centerToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideFromTop {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0%);
  }
  
}

@keyframes slideFromBottom {
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0%);
  }
  
}