@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
}

header {
  width: 95%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

nav {
  display: flex;
  gap: 20px;
}

nav .logo {
  color: red;
  font-weight: 900;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.leftnav {
  /* background-color: red;
   */
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
