@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
}

header {
  width: 95%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* vertical-align: text-bottom; */
}

nav {
  display: flex;
  gap: 20px;
  /* justify-content: flex-end; */
  align-items: baseline;
  /* vertical-align: bottom; */
}

nav .logo {
  color: red;
  padding-right: 20px;
  font-weight: 900;
  font-size: 1.7em;
  font-family: "Montserrat", sans-serif;
}

.leftnav {
  display: flex;
  gap: 20px;
  font-size: 20px;
  vertical-align: baseline;
  /* text-decoration-line: none; */
}

.leftnav a {
  /* color: aqua; */
  text-decoration-line: none;
}
